name: Deploy (Client + Server)

on:
  push:
    branches:
      - main

jobs:
  client:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: swiftwasm/swiftwasm-action@v5.3
        with:
          shell-action: carton bundle --product memes-client
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./Bundle
